@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* background-color: #000; */
	color: #fff;
	user-select: none;
}

.section-title {
	@apply font-serif font-bold tracking-wider text-4xl p-4 w-full text-center;
}

.btn-like,
.text-box {
	@apply rounded-lg bg-purple-800 bg-opacity-50 border-purple-500;
}

.btn-like {
	@apply font-serif font-bold flex z-20 shadow-lg w-64 hover:cursor-pointer hover:scale-105 transition-transform;
}

.btn-like.active {
	@apply bg-purple-400 bg-opacity-80;

	& > * {
		--tw-shadow-color: rgba(107, 33, 168, 1);
		/* --tw-shadow-color: rgba(168, 85, 247, 1); */
		text-shadow: 0 2px 4px var(--tw-shadow-color);
	}
}

li > a {
	@apply h-full w-full p-3;
}

.text-box {
	@apply p-4 m-4;
}

.hr {
	@apply bg-purple-500 border-purple-500 m-2;
}

@layer utilities {
	@keyframes animStar {
		from {
			transform: translateY(0px);
		}
		to {
			transform: translateY(-2000px);
		}
	}

	.animate-star {
		animation: animStar 50s running infinite;
	}

	.delay-100 {
		animation-duration: 100s;
	}

	.delay-200 {
		animation-duration: 150s;
	}
}

@layer components {
	.font-serif-stretched {
		@apply font-serif;
		transform: scaleY(1.3) translateY(15%); /* Stretch vertically by 30% */
		transform-origin: bottom; /* Or center, depending on what looks better */
	}

	.text-glow {
		display: block;
		text-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2),
			0 0 40px var(--color3), 0 0 80px var(--color4);
		will-change: filter, color;
		filter: saturate(50%);

		color: yellow;
		--color1: goldenrod;
		--color2: orangered;
		--color3: mediumblue;
		--color4: purple;
	}

	.text-glow-stylized {
		@apply font-serif-stretched text-glow font-bold tracking-tighter text-[#f2d16d];
	}

	.text-lines {
		text-decoration: underline overline;
	}

	.btn-outline {
		--offset-border-size: 4px;
		position: relative;
		padding: 0.5rem 1rem;
		border: 0;
		border-radius: 0.25rem;
		background-clip: text;
		transition: transform 200ms, text-shadow 0.3s ease-in-out;
		margin: auto;
		@apply font-serif text-lg font-bold;
	}

	.btn-outline:hover {
		@apply text-glow;
	}

	.btn-outline::after {
		content: "";
		position: absolute;
		inset: 0;
		transform: translate(
			var(--offset-border-size),
			var(--offset-border-size)
		);
		z-index: -1;
		background: linear-gradient(to right, #f2d16d 50%, white 50%);
		background-size: 200% 100%;
		background-position: right;
		border-radius: inherit;
		transition: transform 200ms, background-position 0.3s ease-in-out;
		clip-path: polygon(
			0% calc(100% - var(--offset-border-size)),
			0% 100%,
			100% 100%,
			100% 0,
			calc(100% - var(--offset-border-size)) 0,
			calc(100% - var(--offset-border-size))
				calc(100% - var(--offset-border-size))
		);
	}

	.btn-outline:hover::after {
		background-position: left;
	}

	.btn-outline.active {
		@apply text-glow;
	}

	.btn-outline.active::after {
		background-position: left;
	}
}
